:local(.bar) {
  /* background-color: blue; */
  background-color: #61dafb;
  margin-right: 1px;

}

:root {
  --height: 25px;
  --width: 25px;
}

:local(.bar0) {
  height: var(--height);
  width: var(--width);
}
:local(.bar1) {
  height: calc(var(--height) * 2);
  width: var(--width);
}
:local(.bar2) {
  height: calc(var(--height) * 3);
  width: var(--width);
}
:local(.bar3) {
  height: calc(var(--height) * 4);
  width: var(--width);
}


:local(.bar4) {
  height: var(--height);
  width: calc(var(--width) * 2);
}
:local(.bar5) {
  height: calc(var(--height) * 2);
  width: calc(var(--width) * 2);
}
:local(.bar6) {
  height: calc(var(--height) * 3);
  width: calc(var(--width) * 2);
}
:local(.bar7) {
  height: calc(var(--height) * 4);
  width: calc(var(--width) * 2);
}


:local(.bar8) {
  height: var(--height);
  width: calc(var(--width) * 3);
}

:local(.bar9) {
  height: calc(var(--height) * 2);
  width: calc(var(--width) * 3);
}